html {
    --sidebar-width: 25dvw;
}

body {
    background-color: #292828;
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    margin: 0;
}

.save-button {
    position: fixed;
    top: 0;
    right: 0;
    height: 10dvh;
    width: 10dvh;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(0.25em);
    -webkit-backdrop-filter: blur(0.25em);
    display: flex;
    align-items: center;
    justify-content: center;
}

header.editor-head {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 10dvh;
    width: 100dvw;
    backdrop-filter: blur(0.25em);
    -webkit-backdrop-filter: blur(0.25em);
}

.editor-head .editor-head-side {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    width: var(--sidebar-width);
    padding-left: 10dvh;
}

.editor-head .editor-head-main {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.editor-page-container {
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

.editor-page-sidebar {
    width: var(--sidebar-width);
    padding-left: 10dvh;
    padding-top: 5dvh;
}

.editor-page-content {
    padding-top: 5dvh;
    flex-grow: 1;
}

/* Input styles */

.editable-text-field {
    display: block;
    width: 75%;
    line-height: 2em;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.group-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 1em;
    border-radius: 1em;
    width: 75%;
}

.group-block .editable-text-field {
    width: unset;
    /* background-color: aqua; */
}